@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

html,
body {
    height: 100%;
}

body {
    background-color: #DDE7F9;
}

#root {
    height: 100%;
}

.bg-primary {
    background-color: #131823 !important;
}

.text-primary {
    color: #131823 !important;
}

.btn-primary {
    background-color: #131823 !important;
    border-color: #131823 !important;
}